@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-background: #ffffff;
  --color-surface: #f9fafb;
  --color-text-primary: #111827;
  --color-text-secondary: #4b5563;
  --color-border-subtle: #e5e7eb;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #38bdf8;

  --font-sans: "Inter", "Roboto", "sans-serif";
}

@layer base {
  body {
    @apply bg-background text-text-primary;
  }
}
